body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://img.freepik.com/free-vector/white-gray-geometric-pattern-background-vector_53876-136511.jpg?w=1480&t=st=1659009812~exp=1659010412~hmac=beb84f3999ad7009bfeca957d7706e2a938a3f79dd2cd42a0bd99ec30b917ecd");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
